.mainBody {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
  /* text-align: center; */
  width: 1440px;
  margin: 120px auto 0;
}

/* Button */
.mainButton {
  position: absolute;
  top: 108px;
  left: 11vw;
  z-index: 2;
}

.mainButton .circle {
  width: 345px;
  height: 345px;
  background-image: url(../images/circle1.svg);
  background-size: cover;
}

.mainButton .line {
  width: 442px;
  height: 637px;
  margin-top: -14px;
  margin-left: -85px;
  background-image: url(../images/line1.svg);
  background-size: cover;
}


/* main */

.gallery {
  display: flex;
  width: 100%;
  height: calc(100vh - 100px);
  background-color: rgba(0,0,0,.5);
  z-index: 1;
}

.mainSection {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.mainSection section {
  position: relative;
  margin: 165px auto 0;
  width: calc(100% - 16vw);
  padding: 0 12vw;
  text-align: center;
}

.mainSection h1 + p {
  margin-top: 25px;
  line-height: 30px;
}

.mainSection p + p {
  margin-top: 25px;
}



/* One */

.mainSection.one {
  top: -48px;
  width: 101%;
  height: 530px;
  background-image: url(../images/backgroundWhite1.svg);
  background-size: cover;
  z-index: 1;
}

.mainSection.one h1 + p,
.mainSection.four p,
.mainSection.nine h1 + p,
.mainSection.ten h1 + p,
.mainSection.twelve section section div h2,
.mainSection.thirteen section p,
.mainSection.footer section div h2 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 24px;
  line-height: 32px;
}



/* Two */

.mainSection.two {
  color: white;
  top: -75px;
  height: 1110px;
  background-image: url(../images/backgroundBlack1.svg);
  background-size: cover;
  z-index: 1;
}

.mainSection.two section {
  padding: 0;
}

.mainSection.two section section {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 706px;
  margin: 50px auto 0;
}

.mainSection.two section section div {
  width: calc(100% / 4 - 35px);
  margin: 0 auto;
}

/* .mainSection.two section section div div {
  width: 50px;
  height: 50px;
  color: black;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 43px;
  font-weight: bold;
  background-color: white;
  border-radius: 50%;
} */

.mainSection.two section section div div,
.mainSection.four section div div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: black;

  font-family: 'Roboto Slab', sans-serif;
  font-size: 36px;
  font-weight: bold;
  background-color: white;
  border-radius: 50%;
}


/* Three */

.mainSection.three {
  top: -75px;
  height: 792px;
  background-color: white;
}

.mainSection.three section {
  width: 84%;
  margin-top: 102px;
  padding: 0;
}

.mainSection.three section section {
  margin-top: 51px;
}

div.first {
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

div.first div {
  width: calc(100% / 3 - 25px);
}

div.first div p + p {
  margin-top: 10px;
}

div.first div p:first-child {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 84px;
  font-weight: bold;
}

div.second {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 15px;
}

div.second div {
  display: inline-flex;
  justify-content: space-between;
}

div.t {
  margin-top: 10px;
}

div.sertificate {
  width: calc(50% - 250px);
  margin: 0 100px 0 150px;
}

div.study {
  width: calc(50% - 100px);
  margin: 0 120px 0 0px;
}

.sertificate div {
  width: 137px;
  height: 125px;
  margin: 0 auto;
  background-image: url(../images/sertificate.svg);
  background-size: cover;
}

.study div {
  width: 117px;
  height: 160px;
  margin: 0 auto;
  background-image: url(../images/study.svg);
  background-size: cover;
}

.sertificate.s {
  align-items: flex-end;
}



.lineH {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-top: 50px;
}

hr {
  position: relative;
  width: 100%;
  height: 16px;
  border: none;
  background-color: black;
  color: black;
}

.star {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 14%;
  background-image: url(../images/star.svg);
  background-size: cover;
}

.discount {
  display: flex;
  justify-content: center;
  width: 84%;
  margin: 7px auto 0;
  padding-left: 8%;
  text-align: center;
}


/* Four */

.lineSectionFour {
  position: absolute;
  display: flex;
  width: 66px;
  height: 826px;
  left: 23%;
  background-image: url(../images/lineNumber.svg);
  background-size: cover;
  z-index: 1;
}

.mainSection.four {
  top: -104px;
  width: 101%;
  height: 827px;
  color: white;
  background-image: url(../images/backgroundBlack2.svg);
  background-size: cover;
  z-index: 1;
}

.mainSection.four section {
  position: relative;
  width: 84%;
  margin-top: 135px;
}

.mainSection.four p {
  width: 58%;
  margin: 10px auto 0;
  margin-left: 10%;
}

.mainSection.four h1 + div {
  margin-top: 41px;
}

.mainSection.four section div {
  display: inline-flex;
  width: 100%;
  margin-left: calc(3% + 1px);
  margin-bottom: 27px;
  z-index: 2;
}

.mainSection.four section div div {
  background-color: #6ace6a;
}


/* Five */

.mainSection.five {
  top: -101px;
  height: 466px;
  background-color: white;
}

.mainSection.five section {
  width: 84%;
  margin-top: 102px;
  padding: 0;
}

.mainSection.five section section,
.mainSection.thirteen section section {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 55px;
}

.mainSection.five section section div,
.mainSection.thirteen section section div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  margin: 0 12px;
  font-weight: bold;
  border-radius: 13px;
  border: 6px solid black;
}

.mainSection.five section section .btn,
.mainSection.thirteen section section .btn {
  margin-top: 0;
  border: 0;
}

.mainSection.five section p,
.mainSection.thirteen section p {
  margin: 43px 8% 0;
}


/* Six */

.lineSectionSix {
  position: absolute;
  display: flex;
  width: 1503px;
  height: 1478px;
  top: 4178px;
  left: -121px;
  background-image: url(../images/car.svg);
  background-size: cover;
  z-index: 2;
}

.mainSection.six {
  position: relative;
  top: -140px;
  height: 1243px;
  color: white;
  background-image: url(../images/backgroundBlack3.svg);
  background-size: cover;
  z-index: 1;
}

.mainSection.six section {
  margin-top: 240px;
  padding: 0;
}

.mainSection.six section div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 40%;
  margin-bottom: 53px;
}

.mainSection.six section div:nth-child(2),
.mainSection.six section div:nth-child(4) {
  margin-left: 60%;
}

.mainSection.six section div:last-child {
  margin-top: -34px;
}


/* Seven */

.mainSection.seven {
  position: relative;
  top: -138px;
  height: 914px;
  background-color: white;
}

.mainSection.seven section {
  width: 84%;
  margin-top: 142px;
  padding: 0;
}

.mainSection.seven section section {
  margin-top: 51px;
  width: 100%;
}

.mainSection.seven section section div.first {
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.second2 {
  display: inline-flex;
  justify-content: space-between;
  margin: 45px 12% 0;
}

.mainSection.seven section section div.first div,
.second2 div {
  margin: 0 auto;
  width: calc(100% / 4 - 35px);
}

.mainSection.seven section section div.first div:nth-child(1) div,
.mainSection.seven section section div.first div:nth-child(2) div,
.mainSection.seven section section div.first div:nth-child(3) div,
.mainSection.seven section section div.first div:nth-child(4) div,
.mainSection.seven section section div.second2 div:nth-child(1) div,
.mainSection.seven section section div.second2 div:nth-child(2) div,
.mainSection.seven section section div.second2 div:nth-child(3) div {
  width: 158px;
  height: 158px;
  background-size: cover;
  z-index: 1;
  margin-bottom: 12px;
}

.mainSection.seven section section div.first div:nth-child(1) div {background-image: url(../images/img1.svg);}
.mainSection.seven section section div.first div:nth-child(2) div {background-image: url(../images/img2.svg);}
.mainSection.seven section section div.first div:nth-child(3) div {background-image: url(../images/img3.svg);}
.mainSection.seven section section div.first div:nth-child(4) div {background-image: url(../images/img4.svg);}
.mainSection.seven section section div.second2 div:nth-child(1) div {background-image: url(../images/img5.svg);}
.mainSection.seven section section div.second2 div:nth-child(2) div {background-image: url(../images/img6.svg);}
.mainSection.seven section section div.second2 div:nth-child(3) div {background-image: url(../images/img7.svg);}


.mainSection.seven .line2 {
  position: absolute;
  width: 687px;
  height: 245px;
  bottom: -65px;
  right: -287px;
  background-image: url(../images/line2.svg);
  background-size: cover;
  z-index: 1;
}


/* Eight */

.mainSection.eight {
  top: -192px;
  height: 963px;
  background-image: url(../images/map.svg);
  background-size: cover;
  z-index: 1;
}

.mainSection.eight section {
  margin-top: 105px;
}


/* Nine */

.mainSection.nine .line3 {
  position: absolute;
  width: 595px;
  height: 151px;
  top: 0;
  left: -179px;
  background-image: url(../images/line3.svg);
  background-size: cover;
}

.mainSection.nine {
  position: relative;
  top: -223px;
  height: 1012px;
  background-color: white;
}

.mainSection.nine section {
  margin-top: 168px;
  padding: 0 10%;
}

.we {
  width: 100%;
  height: 406px;
  margin: 50px auto 0;
  background-image: url(../images/we.svg);
  background-size: cover;
}


/* Ten */

.mainSection.ten {
  top: -266px;
  height: 1044px;
  color: white;
  background-image: url(../images/backgroundBlack4.svg);
  background-size: cover;
  z-index: 1;
}

.mainSection.ten a,
.mainSection.thirteen a {
  color: #6ace6a;
}

.mainSection.ten section {
  width: 84%;
  margin-top: 138px;
  padding: 0 10%;
  color: white;
}

.cars {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}

.cars div {
  width: calc(100% / 3 - 20px);
}

.cars div:first-child div,
.cars div:nth-child(2) div,
.cars div:last-child div {
  width: 300px;
  height: 220px;
  background-size: cover;
  margin: 0 auto;
}

.cars div:first-child div  { background-image: url(../images/car1.svg); }
.cars div:nth-child(2) div { background-image: url(../images/car2.svg); }
.cars div:last-child div   { background-image: url(../images/car3.svg); }

.cars div p {
  margin-top: 15px;
}

.mainSection.ten .lineH {
  margin-top: 90px;
}

.mainSection.ten .lineH hr {
  background-color: white;
}

.mainSection.ten .lineH .star {
  background-image: url(../images/set.svg)
}


/* Eleven */

.mainSection.eleven {
  top: -266px;
  height: 724px;
  background-color: white;
  /* background-color: rgba(250,0,0,.3); */
}

.mainSection.eleven section {
  position: relative;
  margin-top: 65px;
}

.mainSection.eleven div.lineP {
  position: absolute;
  width: 100vw;
  height: 16px;
  top: 136px;
  background-image: url(../images/lineP.svg);
  background-size: cover;
  z-index: 1;
}

.mainSection.eleven div.gallery2 {
  width: 100vw;
  height: 710px;
  margin-top: 35px;
  background-color: rgba(0,0,0,.5);
}


/* Twelve */

.mainSection.twelve {
  top: -267px;
  height: 993px;
  color: white;
  background-image: url(../images/backgroundBlack5.svg);
  background-size: cover;
  z-index: 1;
}

.mainSection.twelve section {
  margin-top: 125px;
  padding: 0 ;
  color: white;
}

.mainSection.twelve section section {
  display: inline-flex;
  margin-top: 44px;
}

.mainSection.twelve section section div {
  display: flex;
  flex-direction: column;
  width: calc(50% - 20px);
  margin: 0 20px;
}

.mainSection.twelve section section div h2 + p {
  margin-top: 2px;
}

.mainSection.twelve section section + section  {
  margin-top: 50px;
}

section.movie div {
  display: flex;
  width: 100%;
  margin: 0 auto;
}
section.movie div div.m {
  width: 100%;
  height: 267px;
  background-color: black;
  border: 6px solid white;
}

.lineE {
  position: absolute;
  display: flex;
  width: 1349px;
  height: 1349px;
  top: 9987px;
  left: -79px;
  background-image: url(../images/lineE.svg);
  background-size: cover;
  z-index: 2;
}

/* Thirteen */

.mainSection.thirteen {
  top: -267px;
  height: 572px;
  background-color: white;
}

.mainSection.thirteen section {
  margin-top: 128px;
  padding: 0 ;
}

.mainSection.thirteen section p:last-child {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 20px;
}

.mainSection.thirteen section p.number {
  font-size: 43px;
  font-weight: bold;
}

.mainSection.thirteen section h1 + p {
  margin-top: 32px;
}

.mainSection.thirteen section p + p {
  margin-top: 14px;
}

.mainSection.thirteen section section {
  margin-top: 41px;
  z-index: 2;
}


/* footer */

.mainSection.footer {
  display: flex;
  top: -267px;
  height: 226px;
  color: white;
  background-color: black;
  /* background-color: rgba(250,0,0,.3) */
}

.mainSection.footer section {
  display: inline-flex;
  justify-content: space-between;
  width: 84%;
  margin-top: 37px;
  padding: 0;
}

.mainSection.footer section div:first-child {
  width: calc(50% - -165px);
  margin-right: 40px;
}

.mainSection.footer section div div.phone,
.mainSection.footer section div div.mail {
  display: inline-flex;
  align-items: center;
}

.mainSection.footer section div div.phone div {
  width: 13px;
  height: 18px;
  margin-right: 15px;
  background-image: url(../images/phoneB.svg);
  background-size: cover;
}

.mainSection.footer section div div.mail div {
  width: 24px;
  height: 18px;
  height: 18px;margin-right: 15px;
  background-image: url(../images/mailB.svg);
  background-size: cover;
}

.mainSection.footer section div.social div{
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
}

.mainSection.footer section div.social div a div {
  width: 42px;
  height: 42px;
  background-size: cover;
}

.mainSection.footer section div.social div a:nth-child(1) div {background-image: url(../images/imgS1.svg);}
.mainSection.footer section div.social div a:nth-child(2) div {background-image: url(../images/imgS2.svg);}
.mainSection.footer section div.social div a:nth-child(3) div {background-image: url(../images/imgS3.svg);}
.mainSection.footer section div.social div a:nth-child(4) div {background-image: url(../images/imgS4.svg);}

.mainSection.footer section div.social h2 {
  color: black;
}
