.general {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  text-align:  center;
}

.gallery {
  display: flex;
  width: 100%;
  height: calc(100vh - 100px);
  margin-top: 110px;
  background-color: rgba(0,0,0,.5);
  z-index: 1;
}


.windowOne {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align:  center;
}


article h1 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 40px;
  font-weight: bold;
}
