section.main {
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 600px;
	margin: 0 auto;
	background-color: rgba(230,0,0,.3);
}


.circleG {
	position: absolute;
	width: 345px;
  height: 345px;
	background-color: white;
	border-radius: 50%;
	border: 12px solid black;
}

.buttonHalf {
	position: absolute;
	height: 200px;
	overflow:hidden;
	/* background: #6ace6a; */
}

.buttonHalf .circl {
	width: 345px;
	height: 345px;
	background: #6ace6a;
	border-radius: 0 0 50% 50%;
}


.w {
	/* position: relative; */
	display: flex;
	align-items: flex-end;
	height: 130px;
	overflow: hidden;
}

.z {
	width: 500px;
	height: 250px;
	background: #f00;
	border-radius: 0 0 250px 250px;
}
